body {
    font-family: 'Arial', sans-serif; /* Fuente general del cuerpo */
    background-color: #f5f0b6; /* Color de fondo */
    margin: 0;
    padding: 0;
    
    background-size: cover; /* Para cubrir toda la pantalla */
    background-position: center;
}






/*footer*/

